@media screen and (max-width: 768px) {
  .list {
    grid-template-columns: 1fr;
  }
  .sub__submenu__title {
    margin-left: 10px;
  }
  .meal {
    margin: 25px 10px;
  }
  .menu__button {
    padding: 15px;
  }
}
