// Les styles du projet OHMYFOOD sont répertoriés dans ce fichier, à l'exception des
// media queries. Les sélecteurs sont classifiés par importance
// (variables, sélecteurs communs, ...) puis par ordre d'apparition sémantique. Les 
// classes et id sont nommés conventionnellement à la méthodologie BEM 
// (https://www.alticreation.com/blog/bem-pour-le-css/) et de façon cohérente.
// Vous retrouverez ci dessous l'index du fichier qui répertorie les différentes sections 
// et sous-sections.
          

//   VARIABLES                         
//   FONTS                               
//   MIXINS               
//   LOADER               
//   COMMON                
//       Body              
//       Header            
//       Main              
//       Footer            
//   INDEX (PAGE)          
//       Location          
//       Hero              
//       Functioning       
//       Restaurant cards  
//   RESTAURANTS (PAGE)    
//       Background        
//       Menu             

//   --- IMPORT -----------------------------------------------------------------------------------------------------------------------------



//   --- VARIABLES -----------------------------------------------------------------------------------------------------------------------------

$grey: #353535;
$bg_color: #F6F6F6;
$ohmyfood_purple: #9356dc;
$ohmyfood_green: #99e2d0;
$shadow: 0 5px 11px rgba($color: #3b3b3b, $alpha: 0.3);

//   --- FONTS ---------------------------------------------------------------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@font-face {
    font-family: roboto;
    src: url(fonts/roboto/Roboto-Medium.ttf);
}

// @font-face {
//     font-family: Shrikhand;
//     src: url(fonts/Shrikhand-Regular.ttf);
// }


//   --- MIXINS --------------------------------------------------------------------------------------------------------------------------------

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin button {
    z-index: 1;
    color: white;
    background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    border: none;
    padding: 17px;
    margin: 10px 0 25px 0;
    border-radius: 50px;
    font-size: 15px;
    font-family: roboto;
    box-shadow: $shadow;
    cursor: pointer;
    &:hover {
        animation: button_shadow 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    
    @keyframes button_shadow {
        0% {
            transform: translateZ(0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
            transform: translateZ(50px);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
    }
}


//   --- LOADER --------------------------------------------------------------------------------------------------------------------------------

.loader {
    display: none;
    z-index: 100;
    background: rgba(231, 231, 231, 0.794);
    animation: loading 2s forwards linear;
    width: 100%;
    height: 100%;
    position: absolute;
    @include flexCenter;
    &__dot {
        background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        width: 25px;
        height: 25px;
        margin: 25px;
        border-radius: 100%;
        animation: dots 1s forwards ease-in-out infinite;
        animation-delay: 1s;
    }
}

@keyframes loading {
    0% {
        filter: opacity(1);
    }
    99% {
        filter: opacity(1);
    }
    100% {
        filter: opacity(0);
        display: none;
        z-index: 0;
    }
}

@keyframes dots {
    50% {
        margin-bottom: 100px;
    }
}

//   --- COMMON --------------------------------------------------------------------------------------------------------------------------------

a {text-decoration: none;}

//   --- Body ---

.body_index, .body_restaurant {
    margin: 0;
    font-family: roboto;
}

//   --- Header ---

.header_index, .header_restaurant {
    @include flexCenter;
    position: relative;
    padding: 20px 0px;
    box-shadow: $shadow;
}

.return_home_icon {
    color: black;
    font-size: larger;
    position: absolute;
    left: 32px;
}

//   --- Main ---

.main_index, .main_restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
}

//   --- Footer ---

footer { 
    background: #353535;
    @include flexCenter()
}

.footer_container {
    width: 100%;
    max-width: 1440px;
    color: white;
    padding: 25px;
    & span {
        font-family: 'Shrikhand', cursive;
        font-size: 20px;
    }
    & ul {
        list-style: none;
        padding: 0;
        & a {
            color: white;
            display: inline-block;
            margin-bottom: 10px;
            & i {
                margin-right: 10px;
            }
        }
    }
}

button {
    @include button;
}

//   --- 📃 INDEX 📃 ---------------------------------------------------------------------------------------------------------------------------------

// 📦 Location 📦

.location {
    width: 100%; 
    & a {
        @include flexCenter;
        color: $grey;
        background: #EAEAEA;
        font-weight: 600;
    }
    & i {padding: 13px;}
}

// 📦 Hero 📦

.hero {
    width: 100%;
    @include flexCenter;
    flex-direction: column;
    // padding: 25px;
    background: $bg_color;
    &__title {
        font-size: 25px;
        text-align: center;
    }
    &__text {
        text-align: center;
        margin-top: 0;
        font-size: 17px;
    }
}

// 📦 Functioning 📦

.functioning {
    @include flexCenter;
    flex-direction: column;
    width: 90%;
    max-width: 1440px;
    &__title {
        align-self: flex-start;
        max-width: 100%;
    }
    &__steps {
        @include flexCenter;
        flex-direction: row;
        width: 100%;
        padding-bottom: 50px;  
    }
}

.step {
    box-shadow: $shadow;
    position: relative;
    display: flex;
    align-items: center;
    background: $bg_color;
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    margin: 10px;
    &__number {
        @include flexCenter;
        color: white;
        height: 25px;
        width: 25px;
        border-radius: 50px;
        background: $ohmyfood_purple;
        position: absolute;
        left: -12px;
    }
    & i {
        color: grey;
        padding: 25px;
    }
}

// 📦 Restaurant cards 📦

#restaurants {
    @include flexCenter;
    flex-direction: column;
    background: $bg_color;  
    width: 100%;
    padding-bottom: 50px;
    
}

.list {
    display: grid; 
    width: 90%;
    max-width: 1440px;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
    column-gap: 32px;
    &__title {
        grid-column: 1 / -1;
        align-self: flex-start;
    }
}

.card {  
    position: relative;
    border-radius: 15px;
    box-shadow: $shadow;
    height: 300px;
    width: 100%;
    &__new {
        position: absolute;
        top: 15px;
        right: 15px;
        background: $ohmyfood_green;
        color: #0C8E6F;
        padding: 5px;
        border-radius: 5px;
    }
    & img {
        align-self: flex-start;
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 210px;
        object-fit: cover;
    }
    &__info {
        text-decoration: none;
        color: black;
        padding: 0 25px;
        @include flexCenter;
        justify-content: space-between;
        height: 90px;
        & i {
            font-size: 25px;
        }
    }
}

.heart_two {
    background: -webkit-linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    right: 25px;
    opacity: 0;
    &:hover {
        animation: heart 250ms forwards linear;
    }
}

@keyframes heart {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: scale(1.1);
    }
}

.ht {
    right: 30px;
}

//   --- 📃 RESTAURANT_1 / RESTAURANT_2 / RESTAURANT_3 / RESTAURANT_4 📃 --------------------------------------------------------------------------------

// 📦 Background 📦

.restaurant_bg {
    width: 100%;
    max-height: 512px;
    object-fit: cover;
}

// 📦 Menu 📦

.menu {
    width: 100%;
    max-width: 1440px;
    margin-top: -4rem;
    background: $bg_color;
    border-radius: 50px 50px 0 0;
    &__title {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px;
        font-size: 18px;
        font-family: 'Shrikhand', cursive;
        & i {
            font-size: 30px;
        }
    }
    &__button {
        @include flexCenter;
        padding: 50px;
    }
    
}

.sub {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    &__submenu {
        overflow: hidden;
        &__title {
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
            margin-left: 25px;
            &::after {
                content: "";
                width: 50px;
                height: 4px;
                background-color: #99e2d0;
                position: relative;
                top: 4px;
            }
        }
    }
}

.meal {
    transform: scale(0);
    animation: apparition 600ms forwards ease-in-out;
    overflow: hidden;
    position: relative;
    box-shadow: $shadow;
    border-radius: 10px;
    display: flex;
    padding: 20px 25px;
    margin: 25px;
    max-width: 100%;
    background: white;
    &__name {
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__price {
        padding: 0 20px;
        justify-self: flex-end;
        align-self: flex-end;
        font-weight: 500;
    }
    &__confirmation {
        @include flexCenter;
        visibility: hidden;
        margin: -20px 0;
        height: 80px;
        width: 0px;
        background: #99E2D0;
    }
    &:hover > .meal__confirmation {
        animation: confirmation 350ms forwards ease-in-out;
    }
    &:hover .fa-check-circle {
        animation: confirmation_icon 350ms forwards ease-in-out;
    }
}

.fa-check-circle {
    color: white;
    font-size: 35px;
    margin: 32px;
    transform: rotate(180deg);
}

@keyframes confirmation {    // 🎞️ keyframes of the meal's confirmation when the meal is hovered    
    0% {
        width: 80px;
        margin-right: -80px;
    }
    100% {
        width: 80px;
        margin-right: -25px;
        visibility: visible;
    }
}

@keyframes confirmation_icon {
    100% {
        transform: rotate(0deg);
    }
}

@keyframes apparition {    // 🎞️ keyframes of the meal's apparition when the page is loaded
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

// .delay-0 { animation-delay: 50ms};    // 🎞️ delay added to each meal
// .delay-1 { animation-delay: 100ms};
// .delay-2 { animation-delay: 150ms};
// .delay-3 { animation-delay: 200ms};
// .delay-4 { animation-delay: 250ms};
// .delay-5 { animation-delay: 300ms};
// .delay-6 { animation-delay: 350ms};
// .delay-7 { animation-delay: 400ms};
// .delay-8 { animation-delay: 450ms};
// .delay-9 { animation-delay: 500ms};

.delay-0 { animation-delay: 100ms}; 
.delay-1 { animation-delay: 200ms};
.delay-2 { animation-delay: 300ms};
.delay-3 { animation-delay: 400ms};
.delay-4 { animation-delay: 500ms};
.delay-5 { animation-delay: 600ms};
.delay-6 { animation-delay: 700ms};
.delay-7 { animation-delay: 800ms};
.delay-8 { animation-delay: 900ms};
.delay-9 { animation-delay: 1000ms};

