@font-face {
    font-family: roboto;
    src: url(fonts/roboto/Roboto-Medium.ttf);
}

$grey: #353535;
$bg_color: #F6F6F6;
$ohmyfood_purple: #9356dc;
$ohmyfood_green: #99e2d0;

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin button {
    color: white;
    background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    border: none;
    padding: 17px;
    margin: 10px 0 25px 0;
    border-radius: 50px;
    font-size: 15px;
    font-family: roboto;
    box-shadow: 0 5px 0.7rem rgba($color: #000000, $alpha: 0.3);
}



body {
    margin: 0;
}

header {
    @include flexCenter;
    position: relative;
    padding: 20px 0px;
    box-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.3);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location {
    width: 100%;
    @include flexCenter;
    color: $grey;
    background: #EAEAEA;
    font-weight: 600;
    & i {padding: 0.8rem;}
}

.hero {
    width: 100%;
    @include flexCenter;
    flex-direction: column;
    padding: 25px;
    background: $bg_color;
    & h2 {
        text-align: center;
    }
    & p {
        text-align: center;
        margin-top: 0;
        font-size: 17px;
    }
    & button {
        @include button;
    }
}

.functioning {
    @include flexCenter;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    & h2 {
        align-self: flex-start;
    }
}

.step {
    position: relative;
    display: flex;
    align-items: center;
    background: $bg_color;
    width: 90%;
    max-width: 400px;
    border-radius: 15px;
    margin: 10px 0;
    &__number {
        @include flexCenter;
        color: white;
        height: 25px;
        width: 25px;
        border-radius: 50px;
        background: $ohmyfood_purple;
        position: absolute;
        left: -.75rem;
    }
    & i {
        color: grey;
        padding: 25px;
    }
}

#restaurants {
    background: $bg_color;
    display: grid;
    align-self: center;
    width: 100%;
    max-width: 1440px;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
    & h2 {
        grid-column: 1 / -1;
    }
}

.card {
    height: 300px;
    width: 100%;
    &__new {
        align-self: flex-end;
        position: relative;
        top: 35px;
        right: -.75rem;
        background: $ohmyfood_green;
        color: #0C8E6F;
        padding: 5px;
        border-radius: 5px;

    }
    & img {
        width: 100%;
        height: 70%;
        object-fit: cover;
    }
}